.hori_rollable{
    overflow-y: hidden;
    transition: max-height 1s ;
}

body{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    background: #3e3c3d;
    min-width: 800px;
}

.top_bar{
    position: fixed;
    top: 0;
    width: 100%;
    background: #3e3c3d no-repeat center;
    background-size: cover;
    height: 50px;
    z-index: 100;
    min-width: 800px;
    border-bottom: solid 2px #d10309;
}
.top_bar h1{
    color: #f5f5f5;
    padding-top: 8px;
    margin: 0;
}
.top_logo{
    margin-left: 40px;
}
#logo{
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);

    height: 40px;
    margin-top: 5px ;
    margin-right: 15px;
    float: left;
}

.info_connexion{
    position: absolute;
    top: 0;
    right: 20px;
    color :#7f8e96;
    font-size: 70%;
    vertical-align: middle;
}
.info_connexion p{margin-top: 18px;}
.info_connexion a{text-decoration: none;color: #b9b8b9}
a:hover{
    color: #850606;
}

.container{
    display: table;
    background: white;
    margin-top: 50px;
    width: 100%;
    min-height: 450px;
}
.navig_bar{
    display: table-cell;
    border-right: solid 1px #e6e6e6;
    width: 200px;
    top:0;
    background: #fcfcfc;
    margin-top: 50px;
    max-width: 200px;
}

.navig_bar h2{
    text-align: left;
    font-size: 20px;
    padding-left: 40px;
    display: block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-origin: border-box;
    background: url("../Image/Globe.png") no-repeat 4px;
    background-size: 30px;
    border-bottom: solid 1px #d10309;
    border-top: solid 1px #d10309;
    margin-bottom: 0;
}

.menu_ban{
    width: 100%;
    overflow: hidden;
    max-height: 70px;
}
.menu_ban img{width: 100%}
.menu_action{
    display: block;
    padding: 10px 0px 10px 25px;
    border-bottom: solid 1px #5c666d;
    margin: 0;
}
.menu_action a{
    text-decoration: none;
    font-weight: bold;
    color: #d10309;
}
.menu_action:hover{background: #850606;}
.menu_action:hover a{color:white}

.menu_list_flux{
    width: 90%;
    margin: 8px auto 0;
}
.menu_flux {
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    margin: 2px;
}

.menu_flux a{color: #d10309; text-decoration: none; text-align: center;font-weight: bold;font-size: 80%}
.menu_flux img {border-radius: 50%; margin-right: 6px; height: 12px;display: inline-block}

.center_container{
    display: table-cell;
    vertical-align: top;
}
.center_button_bar{
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
.center_button_bar button{
    border-radius: 2px;
    background: #d10309;
    font-weight: bold;
    color: white;
    border: none;
    padding: 5px 9px;
    cursor: pointer;

}
.center_newslist{
    padding-top: 10px;
    border-bottom: solid 1px #e8e8e8;
}

.center_news{
    display: block;
    border-top: solid 1px #e8e8e8;
}

.center_flux{
    display: table;
    width: 100%;
    border-top: solid 1px #e8e8e8;
}

.flux_image{
    display: table-cell;
    width: 120px;
    padding: 10px;
    vertical-align: middle;
}
.flux_image img {
    width: 100%;
}
.flux_content{
    display: table-cell;
    padding-left: 15px;
}
.flux_content p{
    padding: 10px 10px 10px 25px;
    margin: 0;
}
.flux_title{
    display: block;
}
.flux_content a {text-decoration: none;}
.flux_content h4{
    color: #7f8e96;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 20px;
    display: inline-block;
}

.flux_admin_add{
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}
.flux_admin_add h3{
    color: #d10309;
    font-family: inherit;
    text-align: left;
}
.flux_admin_add input[type="text"]{
    width: 70%;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #5c666d;
    font-size: 110%;
    padding: 5px;
}
.flux_admin_add input[type="submit"]{
    width: 10%;
    min-width: 100px;
    height: 36px;
    cursor: pointer;
    vertical-align: top;
    color:white;
    border:none;
    background: #d10309;
    border-radius: 2px;
    font-size: 120%;

}

.news_title{display: table;width: 100%;table-layout: fixed }
.news_more{
    color: #5c666d;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}
.news_link{
    display: table-cell;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.news_flux_icon{display: table-cell;width: 30px; vertical-align: middle;padding: 5px;}
.news_flux_icon img{width: 60%; border-radius: 50%;}

.news_link a{
    font-weight: bold;
    color: #7f8e96;
    text-decoration: none;
    line-height: 40px;
}
.news_link:hover a{
    color: #5c666d;
}

.news_details{
    background: #dedcdd;
    margin-right:30px ;
}
.news_details a{text-decoration: none;color: #7f8e96}

.news_description{
    margin: 0 30px 30px 20px;
    padding: 10px;
    text-align: justify;
}
.news_description img{margin: 10px;}
.news_description a{
    font-weight: bold;
    color: #7f8e96;
    text-decoration: none;
}

.news_deroul{
    display: table-cell;
    vertical-align: middle;
    width: 30px ;
    border-left: solid 1px #a8a8a8;
}
.news_deroul:hover{
    background: #e7e6e7;
}
.news_deroul img{
    width: 100%;
    display: block;
    cursor: pointer;

    transition: transform 0.5s;
}

.news_hide_rollable{
    background: white;
    text-align: center;
    width: 100%;
    color: #5c666d;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 0;
}
.news_hide_rollable:hover{
    background: #f7f7f7;
}



.time_indicator_on{
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto 5px;
    background: #176cb5;
}

.time_indicator_off{
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto 5px;
    background: #b9b8b9;
}

.page_navigation{
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 20px;
    padding-top: 20px;
}
.page_navigation a{text-decoration: none; color: #2e2c2d}

footer{
    color: #b9b8b9;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}
footer p{
    line-height: 15px;
}


.flux_admin_control{
    display: table-cell;
    width: 60px;
    height:  100%;
    vertical-align: middle;
    padding: 0 10px;
}
.flux_admin_control input[type="submit"]{
    background: #d10309;
    color: white;
    border: none;
    border-radius: 2px;
    padding : 4px 6px;
}


.center_connexion{
    border-bottom: solid 1px #e8e8e8;
    border-top: solid 1px #e8e8e8;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}
.center_connexion input[type="submit"]{
    width: 300px;
    height: 36px;
    cursor: pointer;
    vertical-align: top;
    color:white;
    border:none;
    background: #d10309;
    border-radius: 2px;
    font-size: 120%;
    margin: 5px;
    box-sizing: content-box;
}
.center_connexion input[type="text"],input[type="password"]{
    width: 300px;
    margin: 5px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #5c666d;
    font-size: 110%;
    padding: 5px;
}

.connexion_error{
    text-align: center;
    color: #d10309;
    font-weight: bold;
    font-size: 120%;
}

.center-error{
    text-align: center;
}
.center-error h3{
    font-family: inherit;
}