{% import 'MacroFlux.twig' as VueFlux %}

<div class="center_newslist">
{% for element in Fluxs %}
    {#Appelle macro pour afficher tous les Flux#}
    {{ VueFlux.Flux(element.id, element.title, element.link, element.description, element.imageUrl, element.imageLink, element.imageTitre) }}
{% endfor %}
</div>


<div class="page_navigation">
    {%  if numpage > 1  %}
        <a href="?action=afficherFlux&page={{ numpage-1 }}">Précédent</a> |
    {% endif %}
    <a href="?action=afficherFlux&page={{ numpage+1 }}">Suivant</a>
</div>