<div class="flux_admin_add">
    <h3>Ajouter un flux</h3>
    <form action=".?action=ajouterFlux" method="post">
        <input type="text" name="url" required="required" placeholder="Lien du flux RSS"/>
        <input type="submit" value="Ajouter" />
    </form>
</div>