{% macro Flux(id, titre, URL, resume, image) %}
    <div class="center_news">
        <a href="{{URL}}">{{titre}}</a>
        <img src="{{image}}"/>
        <p>{{ resume }}</p>
    </div>
        
        
{% endmacro %}