

{% macro News(id, titre, description,url, URLImage) %}
    <div class="center_news">
        <img src="{{ urlImage }}"/>
        {# description|raw permet de recuperer le code html brut #}
        <p><a href="{{ url }}" target="_blank">{{ titre }}</a>
        <div classnews_description> {{ description|raw }}<p></div>
        {#<span> date </span>#}
    </div>
{% endmacro %}
