{% extends 'page.twig' %}
{% block menu %}
    <div class="navig_bar">
        <h2>Menu</h2>
        <p><a href="?action=afficherNews">Toutes les news</a></br></p>
        <p><a href="?action=afficherFlux">Listes des flux</a></br></p>
        </br>
        <h2>Flux les plus actifs</h2>
        <p>{%include 'ListeFlux.twig'%}</br></p>
        
        <p><a href="?action=ajouterFlux">Ajouter flux</a></br></p>
        <p><a href="?action=supprimerFlux">Supprimer flux</a></br></p>
    </div>
{% endblock %}