{% import 'MacroNews.twig' as VueNew %}

<div class="center_newslist">
    <div class="center_button_bar">
        <button onclick="setNewsState(true)">Dérouler tout</button>
        <button onclick="setNewsState(false)">Replier tout</button>
    </div>

    {% for element in News %}
        {#Appelle macro pour afficher toutes les News#}
        {{ VueNew.News(element.id, element.title, element.description, element.url, element.flux, Fluxs[element.Flux].favicon, Fluxs[element.Flux].imageTitre ) }}
    {% endfor %}
</div>

<div class="page_navigation">
    {%  if numpage > 1  %}
        <a href="?page={{ numpage-1 }}">Précédent</a> |
    {% endif %}
    <a href="?page={{ numpage+1 }}">Suivant</a>
</div>