<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <link rel="stylesheet" type="text/css" href="Vue/CSS/desktop.css"/>
        <link rel="icon" type="image/png" href="Vue/Image/Globe.png" />
        <script type="text/javascript" src="Vue/JS/hide.js"></script>
        <script type="text/javascript" src="Vue/JS/utils.js"></script>

        <title>Explorer le monde{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="top_bar" >
                <div class="top_logo">
                    <a href="."><img src="Vue/Image/Globe.png" id="logo"/></a>
                    <h1>Explorer le monde</h1>
                    <div class="info_connexion">
                        {%if Admin %}
                            <p>Connecté en tant qu'Admin.    <a href="?action=deconnexion">Deconnexion</a></p>
                        {%  else %}
                            <p><a href="?action=pageConnexion">Connexion</a></p>
                        {%endif%}
                            
                    </div>
                </div>
        </div>

        <!-- Content -->
        <div class="container">
            <div class="navig_bar">
                {% block menu %}{% endblock %}
            </div>
            <div class="center_container">
                {% block contenu %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div>
                <p>
                    Développé par Charlotte DELAIN et Théo DEPRESLE<br/>
                    IUT Informatique Clermont-Ferrand - Université d'Auvergne<br/>
                    2014/2015
                </p>
            </div>
        </footer>
    </body>
</html>
