{% import 'MacroFlux.twig' as fluxmacr %}
{% import 'MacroNews.twig' as VueNew %}

{% extends 'pageAvecMenu.twig' %}
{% block title %} - {{ Flux.titre }}{% endblock %}

{% block contenu %}
    <div class="center_newslist">
        {{ fluxmacr.Flux(Flux.id, Flux.title, Flux.link, Flux.description, Flux.imageUrl, Flux.imageLink, Flux.imageTitre,true, Admin, Flux.path) }}
    </div>

    {%include 'News.twig'%}
{% endblock %}