{% extends 'page.twig' %}

{% block contenu %}
    <div class="center-error">
        <h3>Erreur !</h3>
        {% for element in Erreur %}
            <p>{{ element }}</p>
        {% endfor %}
        <img src="Vue/Image/doh.png" width="35%" style="margin-bottom: 20px"/>
    </div>
{% endblock %}