{% extends 'page.twig' %}
{% block menu %}
        <div class="menu_ban"><img src="Vue/Image/banniere.jpg"/></div>
        <h2 style="margin-top: 0">Menu</h2>
        <p class="menu_action"><a href="?action=afficherNews">Toutes les news</a></p>
        <p class="menu_action"><a href="?action=afficherFlux">Listes des flux</a></p>
        {%if Admin%}
             <p class="menu_action"><a href="?action=deconnexion">Deconnexion</a></p>            
        {%else%}
            <p class="menu_action"><a href="?action=pageConnexion">Connexion</a></p>
        {%endif%}
        <h2>Fluxs</h2>
        <div class="menu_list_flux">{%include 'ListeFlux.twig'%}</div>
{% endblock %}