<!DOCTYPE HTML>
<html>
<header>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="Vue/CSS/desktop.css"/>
    <title>{% block title %}Explorer le monde{% endblock %}</title>
<header>

    <body>
        <div class="top_bar" >
            {% block banniere %}<h1>Explorer le monde</h1>{% endblock %}
        </div>
        <div class="navig_bar">
            {% block menu %}{% endblock %}
        </div>
        <div class="center_container">
            {% block contenu %}{% endblock %}
        </div>
    </body>
</html>